.mainBar {
    width: 55vw;
    height: 100vh;
    border: 1px solid blue;
    box-sizing: border-box;
}
.mainBar_header {
    margin-top: 6.25vh;
    padding-left: 5vw;
    height: 6vh;
    display: flex;
    position: relative;
    box-sizing: border-box;
    border: 1px solid red;
}
.mainBar_header_h {
    font-size: 3vh;
    line-height: 6vh;
}
.mainBar_header_icon {
    position: absolute;
    right: 6vw;
    height: 6vh;
    box-sizing: border-box;
}